.projects {
    width: 70%
    color: #000000

    &__list {
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        padding: 0
        list-style: none
    
        &__item {
            font-weight: $font-weight--bold
            background-color: $color-lightgray
            width: 300px
            padding: 20px 0 20px 20px
            border-radius: 4px
            box-shadow: -1px 10px 20px -9px #f1f2f5
            margin: 15px 15px 15px 0
        }
    }
}