@import '../helpers/mixins'
@import '../helpers/variables'

.topbar {
    background: linear-gradient(to right, rgba(243,97,97,1) 0%, rgba(253,132,119,0.83) 100%)
    display: flex
    justify-content: space-between
    padding: 5px 10px
    width: 400px
    border-radius: 4px
    box-shadow: -1px 10px 12px -9px #a7a1aa

    &__user {
        margin-right: 21px 

        &__avatar {
            width: 50px
            border-radius: 50%
        }  
    }

    p {
        text-transform: uppercase
        color: #fbeae8
        font-size: $font-size--small
    }

    a {
        color: #ffffff
        font-weight: $font-weight--bold
        text-decoration: none
    }
}

.vertical-line {
    border-left: 1px solid rgba(243,176,172,0.6)
    height: 55px
}