@import 'helpers/variables'

body {
    box-sizing: border-box
    background-color: $color-gray
    font-size: $font-size--default
    font-family: $font-family
    line-height: 1.2
    letter-spacing: 0.05em
}